.profile {
  padding: 74px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .profile {
    padding: 236px 0 269px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 70px 0 40px 0;
    width: 260px;
  }
}

.profile__title {
  padding: 0 0 107px 0;
  margin: 0;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .profile__title {
    padding: 0 0 80px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__title {
    padding: 0 0 64px 0;
  }
}

.profile__line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
}

.profile__line:last-of-type {
  border-bottom: none;
  padding: 0 0 204px 0;
}

@media screen and (max-width: 1279px) {
  .profile__line:last-of-type {
    padding: 0 0 194px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__line:last-of-type {
    padding: 0 0 363px 0;
  }
}

.profile__row {
  font-size: 11px;
  line-height: 13.31px;
  font-weight: 400;
  padding: 16px 0;
  margin: 0;
}

.profile__row_title {
  font-weight: 500;
}

.profile__menu {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.profile__edit {
  font-size: 13px;
  line-height: 15.73px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 767px) {
  .profile__edit {
    font-size: 12px;
    line-height: 14.52px;
  }
}

.profile__logout {
  font-size: 13px;
  line-height: 15.73px;
  font-weight: 500;
  color: #ee3465;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .profile__logout {
    font-size: 12px;
    line-height: 14.52px;
  }
}