.header__burger {
  display: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
    background-image: url('../../images/burger.svg');
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
  }
}

.header__burger:hover {
  opacity: .6;
  cursor: pointer;
}

.header__cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .3);
  width: 100%;
  height: 100vh;
  display: none;
}

.header__cover_active {
  display: block;
}

.header__hidden {
  opacity: 0;
  transform: translateX(-2000px);
  transition: opacity 0.5s, transform 0.5s;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 520px;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  row-gap: 105px;
  flex-grow: 1;
  z-index: 2;
}

@media screen and (max-width: 719px) {
  .header__hidden {
    width: 100%;
    row-gap: 99.44px;
  }
}

.header__hidden_active {
  opacity: 1;
  transform: translateX(0);
}

.header__close {
  background-image: url('../../images/close.svg');
  width: 32px;
  height: 32px;
  margin: 22.44px 24.44px 0 0;
  align-self: end;
  border: none;
  background-color: #fff;
  padding: 0;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .header__close {
    margin: 13.44px 13.44px 0 0;
  }
}

.header__close:hover {
  opacity: .6;
  cursor: pointer;
}

.header__menu-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 28px;
  padding: 0;
  flex-grow: 2;
}

@media screen and (max-width: 767px) {
  .header__menu-burger {
    row-gap: 24px;
  }
}

.header__link-burger {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  transition: opacity .3s ease-in-out;
}

.header__link-burger:hover {
  opacity: .6;
}

.header__link-burger_active {
  border-bottom: 2px solid #000;
}

.header__section-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 44px;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .header__section-menu {
    display: none;
  }
}

.header__menu {
  flex-grow: 2;
  padding: 0 0 0 25px;
}

.header__link {
  color: #000000;
  padding: 0 0 0 16px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.header__link:hover {
  opacity: .6;
}

.header__link-login {
  color: #000000;
  padding: 8px 20px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .header__link-login {
    font-size: 10px;
    padding: 5px 12px;
  }
}

.header__link-login:hover {
  opacity: .6;
}

.header__link-login:last-of-type {
  margin: 0 0 0 10px;
}

@media screen and (max-width: 767px) {
  .header__link-login:last-of-type {
    margin: 0 0 0 2px;
  }
}

.header__link-login_active {
  color: #ffffff;
  background-color: #3456f3;
  border-radius: 3px;
}

.header__link-profile {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 8px 12px 8px 31px;
  border-radius: 50px;
  border: 2px solid rgba(170, 170, 170, .2);
  background-image: url('../../images/icon_user.svg');
  background-position: 12px center;
  background-repeat: no-repeat;
  transition: opacity .3s ease-in-out;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .header__link-profile {
    margin: 0 0 90px 0;
  }
}

@media screen and (max-width: 767px) {
  .header__link-profile {
    margin: 0 0 44px 0;
  }
}

.header__link-profile:hover {
  opacity: .6;
}