.search-form {
  background-color: #fafafa;
  padding: 0 0 69px 0;
  border-bottom: 1px solid #e8e8e8;
}

@media screen and (max-width: 1279px) {
  .search-form {
    padding: 0 0 109px 0;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    padding: 80px 0 109px 0;
    width: 300px;
  }
}

.search-form__form-section {
  border: 1px;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.08);
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 19px;
}

@media screen and (max-width: 767px) {
  .search-form__form-section {
    flex-direction: column;
    align-items: flex-start;
  }
}

.search-form__form {
  border-right: 1px solid #cbcbcb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

@media screen and (max-width: 767px) {
  .search-form__form {
    width: 300px;
    justify-content: space-between;
    border-right: none;
  }
}

.search-form__search-icon {
  background-image: url('../../images/icon-search.svg');
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  padding: 0 0 0 19px;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .search-form__search-icon {
    display: none;
  }
}

.search-form__input {
  border: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #a0a0a0;
  width: 750px;
}

@media screen and (max-width: 1279px) {
  .search-form__input {
    width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .search-form__input {
    width: 150px;
    padding: 25px 19px;
  }
}

.search-form__button {
  background-image: url('../../images/icon-find.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 34px;
  border: none;
  background-color: #fff;
  margin: 0 19px 0 0;
}

@media screen and (max-width: 767px) {
  .search-form__button {
    margin: 19px 19px 19px 0;
  }
}

.search-form__button:hover {
  cursor: pointer;
}