.login {
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 396px;
}

@media screen and (max-width: 1279px) {
  .login {
    padding: 232px 0;
  }
}

@media screen and (max-width: 767px) {
  .login {
    padding: 56px 0 30px 0;
    width: 260px;
  }
}

.login__logo {
  background-image: url('../../images/logo.svg');
  width: 38px;
  height: 38px;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .login__logo {
    align-self: center;
  }
}

.login__logo:hover {
  opacity: .6;
}

.login__title {
  padding: 40px 0 35px 0;
  margin: 0;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .login__title {
    padding: 50px 0 75px 0;
    text-align: center;
  }
}

.login__label {
  font-size: 10px;
  line-height: 12.1px;
  font-weight: 400;
  color: #a0a0a0;
  padding: 0 0 5px 0;
}

.login__input {
  border-bottom: 1px solid #e8e8e8;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  width: 100%;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  padding: 0 0 9px 0;
  box-sizing: border-box;
  margin: 0 0 24px 0;
  outline: none;
}

.login__input:focus {
  border-bottom: 1px solid #3456F3;
}

.login__input:invalid {
  color: #ee3465;
}

.login__input:last-of-type {
  margin: 0;
}

.login__error {
  font-size: 10px;
  line-height: 12.1px;
  font-weight: 400;
  color: #ee3465;
  padding: 6px 0 0 0;
}

.login__button {
  margin: 203px 0 0 0;
  display: block;
  width: 100%;
  background-color: #3456f3;
  color: #fff;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  padding: 15px 0;
  border: none;
  box-sizing: border-box;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .login__button {
    margin: 291px 0 0 0;
    font-size: 12px;
    line-height: 14.52px;
  }
}

.login__button:hover {
  cursor: pointer;
  opacity: .6;
}

.login__text {
  margin: 0;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  color: #a0a0a0;
  padding: 16px 0 0 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .login__text {
    font-size: 12px;
    line-height: 14.52px;
  }
}

.login__link {
  text-decoration: none;
  color: #3456f3;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .login__link {
    font-size: 12px;
    line-height: 14.52px;
  }
}

.login__link:hover {
  opacity: .6;
}